.App {
  font-family: sans-serif;
  text-align: center;
}

.clock {
  width: 90vmin;
  height: 90vmin;
  border: 2vmin solid #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg)
    center no-repeat;
  background-size: 90%;
}

.clock::after {
  content: " ";
  display: block;
  width: 0.8vmin;
  height: 0.8vmin;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.clock .hourHand,
.clock .minuteHand,
.clock .secondHand {
  position: absolute;
  transform: scale(-1) rotate(0deg);
  transform-origin: top center;
  border-radius: 0 0 100vmin 100vmin;
  color: #000;
  background: #000;
  box-shadow: 0 -5vmin;
}

.clock .hourHand {
  width: 1.4vmin;
  height: 30%;
  top: calc(50% - 0.7vmin);
  left: calc(50% - 0.7vmin);
  /* transition: transform 3600s linear; */
}

.clock .minuteHand {
  width: 1vmin;
  height: 45%;
  top: calc(50% - 0.5vmin);
  left: calc(50% - 0.5vmin);
  /* transition: transform 60s linear; */
}

.clock .secondHand {
  width: 0.6vmin;
  height: 47.5%;
  top: calc(50% - 0.3vmin);
  left: calc(50% - 0.3vmin);
  color: #f00;
  background: #f00;
  box-shadow: 0 -5vmin;
  transition: transform 100ms cubic-bezier(0.635, 0.15, 0.625, 1.65);
}

.clock .secondHand::before {
  content: " ";
  display: block;
  position: absolute;
  top: -5vmin;
  left: 50%;
  transform: translateX(-50%);
  width: 1.6vmin;
  height: 8vmin;
  background: #f00;
  border-radius: 0 0 100vmin 100vmin;
}
